@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("./../font/Gilroy-ExtraBold.otf");
}
@font-face {
    font-family: "Gilroy-Light";
    src: url("./../font/Gilroy-Light.otf");
}
@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../font/Gilroy-Semibold.otf") format("opentype");;
}
@font-face {
    font-family: "Gilroy-medium";
    src: url("../font/Gilroy-Medium.otf") format("opentype");;
}
@font-face {
    font-family: "Gilroy-bold";
    src: url("../font/Gilroy-Bold.otf") format("opentype");;
}
@font-face {
    font-family: "Gilroy-regular";
    src: url("../font/Gilroy-Regular.otf") format("opentype");;
}