@import 'variables.scss';

.header{
    padding: 15px 10px;
    background-color: $primary;
    font-family: "Gilroy-medium";
    font-size: 14px;

    .container{
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .user-img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    ul{
        align-items: center;
        li{
            margin: 0 10px;
        }
    }
}

.footer{
    background-color: $text;

    label{
        font-size: 18px;
        font-family: "Gilroy-Semibold";
    }

    .about-block{
        color: white;
        display: flex;
        justify-content: space-between;

        .sub-block{
            padding: 15px 0;
            width: 25%;
            
            p{
                font-size: 14px;
                font-family: "Gilroy-regular";
            }
            .footer-search{
                padding: 10px 0;

                input{
                    background: #1f1f1f;
                    box-shadow: none;
                    border: none;
                    padding: 10px;
                    border-radius: 50px;
                    color: #cccccc;
                    padding-left: 20px;
                }
            }
        }
    }

    .copyright{
        background-color: black;

        .container{
            color: $light-gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            font-size: 14px;
            font-family: "Gilroy-regular";
        }
    }
}