@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./../font/Gilroy-ExtraBold.otf"); }
@font-face {
  font-family: "Gilroy-Light";
  src: url("./../font/Gilroy-Light.otf"); }
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../font/Gilroy-Semibold.otf") format("opentype"); }
@font-face {
  font-family: "Gilroy-medium";
  src: url("../font/Gilroy-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Gilroy-bold";
  src: url("../font/Gilroy-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Gilroy-regular";
  src: url("../font/Gilroy-Regular.otf") format("opentype"); }
.header {
  padding: 15px 10px;
  background-color: #3e4095;
  font-family: "Gilroy-medium";
  font-size: 14px; }
  .header .container {
    align-items: center;
    justify-content: space-between;
    color: white; }
  .header .user-img {
    border-radius: 50%;
    height: 50px;
    width: 50px; }
  .header ul {
    align-items: center; }
    .header ul li {
      margin: 0 10px; }

.footer {
  background-color: #333333; }
  .footer label {
    font-size: 18px;
    font-family: "Gilroy-Semibold"; }
  .footer .about-block {
    color: white;
    display: flex;
    justify-content: space-between; }
    .footer .about-block .sub-block {
      padding: 15px 0;
      width: 25%; }
      .footer .about-block .sub-block p {
        font-size: 14px;
        font-family: "Gilroy-regular"; }
      .footer .about-block .sub-block .footer-search {
        padding: 10px 0; }
        .footer .about-block .sub-block .footer-search input {
          background: #1f1f1f;
          box-shadow: none;
          border: none;
          padding: 10px;
          border-radius: 50px;
          color: #cccccc;
          padding-left: 20px; }
  .footer .copyright {
    background-color: black; }
    .footer .copyright .container {
      color: #9e9e9e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 14px;
      font-family: "Gilroy-regular"; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

.dropdown {
  cursor: pointer; }

a {
  color: inherit !important; }

.container {
  max-width: 1400px; }

/*# sourceMappingURL=style.css.map */
